{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600">
    <section class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md" aria-labelledby="login-form-title">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6" id="login-form-title">Veuillez vous connecter</h1>

        {% if error %}
            <div class="mb-4 text-red-500 text-center" role="alert" aria-live="assertive">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-4 text-center">
                <p class="text-gray-800">Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Se déconnecter</a></p>
            </div>
        {% endif %}

    {{ form_start(loginForm, { action: path('app_login') }) }}

    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}
    {{ form_row(loginForm._csrf_token) }}

    {{ form_row(loginForm.submit) }}

    {{ form_end(loginForm) }}


        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="mb-4 flex items-center">
            <input type="checkbox" name="_remember_me" id="_remember_me" class="mr-2">
            <label for="_remember_me" class="text-sm text-gray-700">Se souvenir de moi</label>
        </div>
        #}
    </section>
</div>
{% endblock %}