{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue Lectrice Rêveuse !
{% endblock %}

{% block body %}
    <!-- Carrousel -->
    <section class="slick-carousel">
        <div class="w-full">
            <div class="flex justify-center items-center overflow-hidden rounded-lg bg-cover" style="background-image: url('{{ asset('images/Design-sans-titre.png') }}');">
                <div class="px-4 py-8 mr-16" style="width: 152px; height: 152px;"></div>
                <div class="cloud-border mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Date de sortie</p>
                    <p class="uppercase font-bold">Le 30 avril 2025 !</p>
                </div>
                <div style="width: 332px; height: 332px;">
                    <img src="{{ asset('uploads/book_cover/majesty-tome-2-fallen-majesty-5599999-67e2c3d70b62e.jpg') }}" alt="Couverture Majesty tome 2 Fallen Majesty" class="w-full h-full object-contain">
                </div>
                <div class="mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Découvrez le deuxième tome de la saga<span class="uppercase font-bold"> Fallen Majesty.</span></p>
                    <p>Une histoire riche en émotions et en rebondissements vous attend !</p>
                </div>
            </div>
        </div>
         <div class="w-full">
            <div class="flex justify-center items-center overflow-hidden rounded-lg bg-cover" style="background-image: url('{{ asset('images/Design-sans-titre.png') }}');">
                <div class="mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Date de sortie</p>
                    <p class="uppercase font-bold">Le 30 avril 2025 !</p>
                </div>
                <div style="width: 332px; height: 332px;">
                    <img src="{{ asset('uploads/book_cover/majesty-tome-1-mad-majesty-5553583-67e271e617a6c.png') }}" alt="Couverture Majesty tome 1" class="w-full h-full object-contain">
                </div>
                <div class="mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Découvrez le premier tome de la saga<span class="uppercase font-bold"> Fallen Majesty.</span></p>
                    <p>Une histoire riche en émotions et en rebondissements vous attend !</p>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="flex justify-center items-center overflow-hidden rounded-lg bg-cover" style="background-image: url('{{ asset('images/Design-sans-titre.png') }}');">
                <div class="mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Date de sortie</p>
                    <p class="uppercase font-bold">Le 30 avril 2025 !</p>
                </div>
                <div style="width: 332px; height: 332px;">
                    <img src="{{ asset('uploads/book_cover/Shatter-Me-67b30892adf3d.jpg') }}" alt="Couverture Shatter Me" class="w-full h-full object-contain">
                </div>
                <div class="mt-40 rounded-md top-1/2 transform -translate-y-1/2 bg-black bg-opacity-60 text-xl px-4 py-4 text-white" style="width: 20%">
                    <p>Découvrez une autre histoire passionnante de la saga<span class="uppercase font-bold"> Shatter Me.</span></p>
                    <p>Un récit captivant avec des rebondissements à couper le souffle !</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section image de fond avec texte sur mobile -->
    <section class="bg-mobile hidden sm:block">
        <div class="relative bg-cover bg-center h-[250px] sm:h-[400px]" style="background-image: url('{{ asset('images/Design-sans-titre.png') }}');">
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-60">
                <h1 class="text-3xl text-white font-bold">Bienvenue chez Lectrice Rêveuse</h1>
            </div>
        </div>
    </section>
    <!-- Liste des livres -->
    <section class="container mx-auto p-4">
        <h1 class="text-3xl font-semibold mb-4">Nos Livres</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for book in books %}
                <article class="relative bg-white rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 cursor-pointer">
                    <div class="w-full h-64 flex items-center justify-center bg-gray-100">
                        <img src="{{ asset('uploads/book_cover/' ~ book.coverImage) }}"
                             alt="{{ book.title }} - Couverture"
                             class="w-full h-full object-contain" />
                    </div>
                    <!-- Résumé au survol -->
                    <div class="absolute inset-0 bg-gray-800 bg-opacity-50 text-white p-4 flex flex-col justify-between opacity-0 hover:opacity-100 transition-opacity duration-300">
                        <p class="text-lg leading-relaxed flex-1 overflow-hidden text-center mb-4">
                            {% if book.description|length > 150 %}
                                {{ book.description|slice(0, 150) }}...
                            {% else %}
                                {{ book.description }}
                            {% endif %}
                        </p>
                        <!-- Bouton "EN SAVOIR PLUS" -->
                        <div class="text-center mt-auto">
                            <a href="{{ path('app_book_show', {'id': book.id}) }}"
                               class="bg-white text-black font-semibold py-2 px-4 rounded-md shadow-md hover:bg-gray-200 transition duration-200">
                               EN SAVOIR PLUS
                            </a>
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-center text-sm text-gray-500">{{ book.title }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>

    <!-- Pagination -->
    {% block pagination %}
        <section class="mt-8 text-center mb-8">
            <div class="flex justify-center space-x-2 mt-8">
                <ul class="flex items-center space-x-2">
                    {% for page in 1..books.getPageCount() %}
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': page})) }}"
                               class="px-4 py-2 text-sm rounded-md bg-gray-200 hover:bg-gray-300 transition-colors duration-200 {% if page == books.getCurrentPageNumber() %}bg-pink-700 text-white{% endif %}">
                               {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endblock %}

    <!-- Carrousel JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.slick-carousel').slick({
                    autoplay: true,
                    autoplaySpeed: 3000,
                    dots: true,
                    arrows: true,
                });
            }, 500);
        });
    </script>

    <style>
        /* Règles CSS spécifiques à la version mobile */
        @media (max-width: 768px) {
            .slick-carousel {
                display: none; 
            }
            .bg-mobile {
                display: block; 
            }
        }
        @media (min-width: 769px) {
            .bg-mobile {
                display: none;
            }
        }
    </style>

{% endblock %}